body {
    margin: 0px;
    top: 0px;

    font-family: sans-serif;
}


/*-- header --*/
#header {
    height: 550px;
    width: 100%;
}

.headerImage {
    height: 550px;
    width: 100%;
    opacity: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transition: 1s opacity;
    -o-transition: 1s opacity;
    transition: 1s opacity;
	z-index: -101;
}

.arrow {
    position: absolute;
    margin-top: -150px;
    padding: 40px;
}

.arrow i {
    cursor: pointer;
    color: #b4b4b4;
    opacity: 0.7;
}

#arrowLeft {
    left: 0px;
}

#arrowRight {
    right: 0px;
}


#logo {
    width: 600px;
    margin-right: auto;
    margin-left: auto;

}

#logo img {
    margin-top: 140px;

}


/*-- submenu--*/
.menu .submenu{
	background-color: #7b7b7b;
    overflow: hidden;
    color:white;
    padding: 0;
    margin: 0;
    text-align: center;
    -webkit-transition:max-height 0.4s ;
    -o-transition:max-height 0.4s ;
    transition:max-height 0.4s ;

}

.menu .submenu li{
	display: inline-block;
	padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
	border-bottom: 2px solid #575757;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu .submenu li:hover{
	border-bottom: 2px solid  #bf0007;
}

.menu .submenu #gallery:hover > .submenu{
	display: block;
}




/*-- menu --*/
.menu {
    background-color: #2a2a2a;
	direction: rtl;

}

.menu ul{
	background-color: #242424;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.42);
    padding: 0;
    margin: 0;
    text-align: center;
    -webkit-transition:max-height 0.4s ;
    -o-transition:max-height 0.4s ;
    transition:max-height 0.4s ;
}

.menu ul li{
   display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 10px;
	border-bottom: 5px solid #575757;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu ul li:hover{
	border-bottom: 5px solid  #bf0007;
	color: white;
    
}

.menu a{
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}



.handle{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    color: white;
    display: none;
    text-align: center;
}

.handle i{
    position: absolute;
	right: 0px;
    padding: 0px 30px;
}

.my-sticky-element.stuck{
	width: 100%;
	position: fixed;
    top: 0;
}


/*-- media query --*/

@media screen and (max-width: 765px){
    #header {
        height: 220px;
    }
    
    .headerImage {
        height: 220px;
    }
    
    #logo {
        width: 50%;
    }
    
    #logo img {
        margin-top: 70px;
    }
    
    .arrow {
        padding: 20px;
        margin-top: -100px;
        font-size: 10px;
    }
    
     ul{
	   max-height: 0;
   }
	
	.menu ul li{
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
	
	.showing{
		max-height: 28em;
	}
	
    .handle {
        display: block;
    }
    
    .menu a{
        font-size: 16px;
    }
}