body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1{
    color: white;
}
section{

}

nav ul{
    background-color: #242424;
    overflow: hidden;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    -webkit-transition:max-height 0.4s ;
    -o-transition:max-height 0.4s ;
    transition:max-height 0.4s ;
}

nav ul li{
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

nav ul li:hover{
    background-color: white;
    color: #242424;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.handle{
    width:100%;
    padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 38%;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #1f1e1e;
    font-size: 20px;
    color: white;
    display: none;
    text-align: center;
}

.handle i{
	padding-left: 60%;
}

.my-sticky-element.stuck{
	width: 100%;
	position: fixed;
    top: 0;
}

.header{
	width: 100%;
    height: 400px;
    background-image: url(../images/band.jpg);
	background-repeat: no-repeat;
	background-size: 1800px 1100px;
	background-position: center -160px;


}

.outer{

    width: 100%;
    height: 100%;
    display: table;

}

.inner{

    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.centerd{

    display: inline-block;
    position: relative;
    text-align: center;
}


.button {
   background: #ba1e1e;
   background: -webkit-gradient(linear, left top, left bottom, from(#ba1e1e), to(#ba1e1e));
   background: -webkit-linear-gradient(top, #ba1e1e, #ba1e1e);
   background: -moz-linear-gradient(top, #ba1e1e, #ba1e1e);
   background: -ms-linear-gradient(top, #ba1e1e, #ba1e1e);
   background: -o-linear-gradient(top, #ba1e1e, #ba1e1e);
   padding: 17.5px 35px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #5c0505;
   background: #5c0505;
   color: #ccc;
   }
.button:active {
   border-top-color: #ffffff;
   background: #ffffff;
   }

.scrollup{
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 2em;
    right: 1em;
    text-decoration: none;
    color: white;
    background-color: #ba1e1e;
    padding: 1em;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: none;

		}

    .scrollup:hover{
        background-color: gray;
    }


@media screen and (max-width: 765px){
    nav ul li{
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .showing{
        max-height: 28em;
    }
    
    nav ul{
        max-height: 0;
    }
    
    .handle{
        display: block;
    }
    
    a{
        font-size: 14px;
    }
}