body {
    margin: 0px;
    top: 0px;
    font-family: sans-serif;
    height: 10000px;
}


/*-- header --*/
#header {
    height: 550px;
    width: 100%;
}

.headerImage {
    height: 550px;
    width: 100%;
    opacity: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transition: 1s opacity;
    -o-transition: 1s opacity;
    transition: 1s opacity;
	z-index: -101;
}

.arrow {
    position: absolute;
    top: 225px;
    transform: translateY(-50%);
    padding: 40px;
}

.arrow i {
    cursor: pointer;
    color: #b4b4b4;
    opacity: 0.7;
}

#arrowLeft {
    left: 0px;
}

#arrowRight {
    right: 0px;
}


#logo {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 50%;
}

#logo img.logoL {
    display: none;
}

#Logo img.logoS {
    display: block;
}

/*-- media query --*/
@media screen and (max-width: 765px){
    #header {
        height: 220px;
    }
    
    .headerImage {
        height: 220px;
    }
    
    #logo {
        width:50%;
		padding-top: 70px;
    }
    
    #logo img  {
        margin:0;
    }
	
    .arrow {
        padding: 20px;
        top: 110px;
        font-size: 10px;
    }
    
    #logo img.logoS {
        display: none;
    }
    
    #logo img.logoL {
        display: block;
    }
}

