#loadingScreen {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #bf0007;
    z-index: 1001;
    -webkit-transition: 1s opacity 0.5s;
    -o-transition: 1s opacity 0.5s;
    transition: 1s opacity 0.5s;
    
}

#loadAnination {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#loadAnination .line-scale-pulse-out > div {
    background: #242424;
    height: 100px;
    width: 10px;
    margin: 10px;
}

#loadingText {
	z-index: 1002;
	position: fixed;
	color: #ff0337;
	bottom: 0px;
	left: 0px;
	padding-left: 5vw;
	padding-bottom: 20px;
	font-size: 1vw;
	-webkit-transition: 1s opacity 0.5s;
    -o-transition: 1s opacity 0.5s;
    transition: 1s opacity 0.5s;
}