/*-- menu --*/
#menu {
	direction: rtl;
    position: relative;
	color: #7b7b7b;
    z-index: 901;
}

#menu a {
    text-decoration: none;
    font-size: 16px;
	color: inherit;
}

#menu ul {
	background-color: #242424;
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu li {
    display: inline-block;
    border-bottom: 5px solid #7b7b7b;
    padding: 10px 25px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#menu ul li:hover {
    border-color: #bf0007;
	color: #fff;
}

#menu ul div {
    position: absolute;
    right: 0px;
    padding-right: 5%;
    height: 0px;
    opacity: 0;
    -webkit-transition: 0.5s height, 0.5s opacity;
    -o-transition: 0.5s height, 0.5s opacity;
    transition: 0.5s height, 0.5s opacity;
    overflow: hidden;
}

#menu ul div img {
    padding: 3px;
}

#menu .current {
    border-color: #bf0007;
}

/*-- submenu--*/
#menu ul ul {
    display: none;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: auto;
    position: absolute;
    top: 100%;
    margin-right: -36px;
}

#menu ul ul li {
	display: block;
    position: relative;
	padding-left: 1.9em;
	padding-right: 1.7em;
	color: #7b7b7b;
	 -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#menu ul ul li:hover{
	color: #fff;
}

/*-- handle --*/
#handle{
    background-color: #242424;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    display: none;
    text-align: center;
    
}

#handle i {
    position: absolute;
	right: 0px;
    padding: 0px 30px;
}

/*-- sticky --*/
#menu.stuck{
	width: 100%;
	position: fixed;
    top: 0;
    border-bottom: #242424 solid 10px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

#menu.stuck > ul div {
    height: 53px;
    opacity: 1;
	
}

#menu.stuck > ul li {
    padding: 15px 30px;
}


@media screen and (max-width: 765px){
    #menu ul {
        display: none;
    }

	#menu ul li {
        width: 100%;
        box-sizing: border-box;
		padding: 15px;
    }
	
    #handle {
        display: block;
    }
    
    #menu a {
        font-size: 16px;
    }
    
    /*-- sticky --*/
    #menu.stuck > ul div {
    height: 0px;
    opacity: 0;
    }
    
    #menu ul ul {
        position: relative;
        z-index: auto;
        width: 100%;
        margin-top: 10px;
        top: auto;
        margin-right: 0px;
        background-color: #343434;
    }
    
	#menu ul li i {
		display: none;
	}
}


@media screen and (max-width: 1100px){
	#menu.stuck > ul div {
		height: 0px;
		opacity: 0;
	}
}