/*-- menu --*/
#menu {
    background-color: #2a2a2a;
	direction: rtl;
    position: relative;
	color: #7b7b7b;
}

#menu a {
    text-decoration: none;
    font-size: 16px;
	color: inherit;
}

#menu ul {
	background-color: #242424;
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu li {
    display: inline-block;
    border-bottom: 5px solid #7b7b7b;
    padding: 10px 25px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#menu ul div {
    position: absolute;
    right: 0px;
    padding-right: 5%;
    height: 0px;
    opacity: 0;
    -webkit-transition: 0.5s height, 0.5s opacity;
    -o-transition: 0.5s height, 0.5s opacity;
    transition: 0.5s height, 0.5s opacity;
    overflow: hidden;
}

#menu ul div img {
    padding: 3px;
}

#menu li:hover {
    border-color: #bf0007;
	color: #fff;
}

/*-- submenu--*/
#menu ul ul {
    display: none;
    background-color: #7b7b7b;
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 100;
    position: absolute;
    top: 100%;
    margin-right: -38px;
}

#menu ul ul li {
	display: block;
    border-bottom: 5px solid #2a2a2a;
    position:relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#menu ul ul li a {
    padding: 5px;
    color: inherit;
	color: white;
}

/*-- handle --*/
#handle{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    color: white;
    display: none;
    text-align: center;
}

#handle i {
    position: absolute;
	right: 0px;
    padding: 0px 30px;
}

#menu.stuck{
	width: 100%;
	position: fixed;
    top: 0;
}

/*-- sticky --*/
#menu.stuck > ul div {
    height: 53px;
    opacity: 1;
}

#menu.stuck > ul li {
    padding: 15px 30px;
}


@media screen and (max-width: 765px){
    #menu ul {
        display: none;
    }
	
	#menu ul li {
        width: 100%;
        box-sizing: border-box;
		padding: 15px;
    }
	
    #handle {
        display: block;
    }
    
    #menu a {
        font-size: 16px;
    }
    
    /*-- sticky --*/
    #menu.stuck > ul div {
    height: 0px;
    opacity: 0;
}
    
    #menu ul ul {
        position: relative;
        z-index: auto;
        width: 100%;
        margin-top: 10px;
        top: auto;
        margin-right: 0px;
    }
}

@media screen and (max-width: 1100px){
	#menu.stuck > ul div {
		height: 0px;
		opacity: 0;
	}
}

