body {
	overflow: hidden;
}

.galleria {
	height: 100vh;
	width: 100vw;
}

#error h1 {
	display: none;
	color: #bf0007;
	margin: 0 auto;
	width: 40vw;
	font-size: 5vw;
	padding: 40vh 30vw;
	
}

@media screen and (max-width: 765px){ 
	#error h1 {
		font-size: 10vw;
		width: 70vw;
		padding: 40vh 20vw;
	}
}

#back {
	position: absolute;
	z-index: 500;
	font-size: 30px;
	padding: 30px;
	top: 30px;
	-webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#back:hover {
	font-size: 60px;
	padding: 15px;
}

#back a {
	color: #fff;
}