#info {
    background: #ccc;
    direction: rtl;
    width: 100%;
    height: 390px;
}

#info iframe {
    width: 400px;
    height: 350px;
    padding: 20px;
    float: left;
}

#info p {
    margin: 0px;
    padding: 20px;
    margin-right: 20px;
    width: auto;
    max-width: 90%;
    font-size: 30px;
}

#info strong {
    border-right: #bf0007 solid 10px;
    padding-right: 15px;
}

#info strong:after {
    content: ": "
}

#grid-container {
    position: relative;
    margin: 0px auto;
	direction: rtl;
}

.grid-item {
    position: absolute;
}

.grid-item img {
    width: 100%;
}

.grid-item {
    width: 100%;
}

.grid-item h2:before {
    content: "מחיר: ";
}

@media screen and (max-width: 765px) {
    #info iframe {
        width: 95%;
        height: 200px;
        padding: 2.5%;
    }
    #info p {
        font-size: 20px;
        padding: 10px;
        margin-right: 10px;
    }
    #info strong {
        border-right-width: 7px;
        padding-right: 10px;
    }
}