body {
    margin: 0px;
    font-family: sans-serif;
}

::selection {
  background: #ff999c; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff999c; /* Gecko Browsers */
}

.v-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.h-align {
    margin-right: auto;
    margin-left: auto;
}

.r-align {
    right: 0px;
}

.l-align {
    left: 0px;
}

